:root {
    --primary-color: #3a4750;
    --secondary-color: #6c757d;
    --accent-color: #be3144;
    --text-color: #303841;
}

body {
    font-family: 'Libre Baskerville', serif;
}


header {
    background-color: #303841;
    padding: 0;
}

footer{
    height: 10rem;
    background-color: #303841;
}

/* NAV */

.logo {
    height: 3rem;
    width: auto;
}

.current {
    color: #303841;
    border-bottom: 2px solid #d3d6db;
}

.navbar-nav .nav-item .nav-link {
    color: #d3d6db;
    /* border-bottom: 2px solid #303841; */
}

/* .nav-link{
       border-bottom: 2px solid #303841;
} */

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #d3d6db;
}

/* SECTION */
section{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.section {
    background-color: #6c757d;
}

/* BANNER */

.banner {
    color: white;
    background-color: #be3144;
}

.banner h1 {
    word-wrap: break-word;
    line-height: 1;
    text-transform: uppercase;
}


#intro-text {
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

/* M */
@media (max-width: 768px) {
    #intro-text {
        font-size: 1rem;
    }
}


/* L */
@media (max-width: 991px) {
    #intro-text {
        font-size: 3rem;
    }
}

/* LG to XL */
@media (min-width: 992px) and (max-width: 1199px) {

    #intro-text {
        font-size: 4rem;

    }
}

/* BG */

.bg{
    background-color: #434343;
    /* https://gradients.shecodes.io/gradients/821 */
    background: linear-gradient(to top, #434343 0%, black 100%);
}

.bg-grey {
    background-color: #d3d6db;
}

.bg-dark-grey{
    background-color: #3a4750;
}

.bg-red{
    background-color: #be3144;
}

/* Components */
.text-block {
    padding: 2rem;
    /* background-color: #303841; */
    color: white;
}

#gameplay .text-block {
    padding: 2rem;
    background-color: #be3144;
    color: white;
}

/* CARDS */
.card-custom {
    border: 0;
}

.card-custom p{
    padding: 0;
    margin: 0;
}

.card-custom:hover {
    background-color: #be3144;
    color: white;
}

.card-custom img {
    max-width: 15rem;
    height: 5rem;
}

.card-custom:hover img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}


/* https://mdbootstrap.com/docs/standard/extended/timeline/ */

.timeline {
    border-left: 1px solid #be3144;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #be3144;
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

#ratings h3{
    color: #be3144;
}

#ratings .card-custom:hover h3 {
    color: white;
}
