html, body{
    margin: 0;
    background-color: #be3144;
}

header{
    margin: 0;
    background-color: #3a4750;
}

/* .container{
    max-width: 768px;
}

.float-center{
    display: flow-root;
    align-content: center;
}

.float-center > * {
    float: 1;
} */



/* NAV BAR */

#logo{
    padding: 2rem;
}

img{
    max-width: 15rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: #303841;
}

nav ul{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a{
    flex: 1;
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #d3d6db;
}

li a:hover{
    color: #303841;
    background-color: #d3d6db;
    border: 1px solid #303841;
}

.current{
    color: #303841;
    background-color: #d3d6db;
    border: 1px solid #303841;
}

